name: Build APK
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
      - name: Create Flutter App
        run: flutter create astrosetu
      - name: Build APK
        run: |
          cd astrosetu
          flutter build apk --debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AstroSetu-App
          path: astrosetu/build/app/outputs/flutter-apk/app-debug.apk
